{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-left">
        <a href="/"><span>Knowledge</span> Base</a>
      </div>
      <div class="header-right">
        <a href="/add-article">Hinzufügen</a>
        |
        <a href="/agb">AGB</a>
        |
        <a href="/legal-notice">Impressum</a>
      </div>
    </header>
    <h1>Legal Notice</h1>
  </body>
</html>
